python-telegram-bot[webhooks]==20.7
python-dotenv
aiohttp==3.9.3
flask[async]
asgiref
pytz
gspread
google-auth
pyotp

# Fall detection dependencies

torch>=2.0.0
torchvision

requests
numpy


ultralytics>=8.0.100
opencv-python-headless
